.carousel {
  width: 70%;
  margin-left: 15%;
}

.Searchbtn {
  color: white;
  background-color: rgb(54, 101, 243);
  border-radius: 0%;
  margin-left: 0.5rem;
}

.form-inline {
  margin-right: 20%;
}
